.account{
   padding: 32px;
   .container-fluid{
      .account-sidebar{
         &-title{
            background-color: $color-footer-trans;
            height: 100px;
            align-items: center;
            text-align: center;  
            justify-content: center;
            margin-bottom: 5px;
            p{
               font-size: $fs-h3;
               font-weight: $fw-bold;
            }
         }
         &-main{
            height: 400px;
            background-color: $color-footer-trans;
               ul{
                  padding-top: 12px;
                  li{
                     margin-top: 12px;
                      padding: 12px;
                      list-style: none;
                      display: flex;
                      text-align: left;
                      align-items: center;
                      font-weight:$fw-medium;
                      gap: 12px;
                     svg{
                        width: 30px;
                     }
                     a{
                        display: flex;
                        font-size: $fs-body;
                        text-decoration: none;
                        color: inherit;
                        align-items: center;
                        width: 100%;
                     }
                     &:hover {
                        margin-right: 32px;
                        background-color: white;
                     }
                  }
               }
         }
      }
       
      .account-info{
         padding-left: 80px;
         &-title{
            p{
               font-size: $fs-h3;
               font-weight: $fw-bold;
            }
         }
         &-form{
            .form-group{
               padding: 12px 0px;
               .form-label{
                  font-weight: $fw-medium;
               }

            }
         }
      }
   }
}

@include down(1024px) {
   .account-info{
      padding-left: 0px !important;
   }
}


.account{
   padding: 32px;
   .container-fluid{
      .change-password{
       padding-left: 80px;
       &-title{
          p{
             font-size: $fs-h3;
             font-weight: $fw-bold;
          }
       }
       &-form{
          .form-group{
             padding: 12px 0px;
             .form-label{
                font-weight: $fw-medium;
             }

          }
       }
    }
 }
}


@include down(1024px) {
  .change-password{
     padding-left: 0px !important;
  }
}

// Address


.account{
   .address-info{
       padding-left: 80px;
    &-add{
       &-title{
           p{
              font-size: $fs-h3;
              font-weight: $fw-bold;
           }
        }
        &-modal{
            &-icon{
                display: flex;
                align-items: center;
                justify-content: center;
                svg{
                    width: 130px;
                    color: $color-text-gray;
                }
            }
            &-show{
                text-align: center;
                span{
                    font-size: $fs-h4;
                    font-weight: $fw-bold;
                }
                p{
                    padding-top: 6px;
                    color: $color-text-dark;
                }
             a{
                background-color: $color-text-dark;
                padding: 12px;
                color: $color-primary-light;
                font-size: $fs-h4;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                gap: 12px;
                svg{
                    width: 32px;
                }
             }
           .width-form{
            min-width: 700px;
           }
       }
       }
     }
   }
   .account-address{
       width: 400px;
   }
   .address{
       background-color: $color-footer-trans;
       padding: 32px;
   }
   
}

@include down(1024px) {
   .address-info{
      padding-left: 0px !important;
   }
}


//orders


.account{
   padding: 32px;
   .container-fluid{
      .account-sidebar{
         &-title{
            background-color: $color-footer-trans;
            height: 100px;
            align-items: center;
            text-align: center;  
            justify-content: center;
            margin-bottom: 5px;
            p{
               font-size: $fs-h3;
               font-weight: $fw-bold;
            }
         }
         &-main{
            height: 400px;
            background-color: $color-footer-trans;
               ul{
                  padding-top: 12px;
                  li{
                     margin-top: 12px;
                      padding: 12px;
                      list-style: none;
                      display: flex;
                      text-align: left;
                      align-items: center;
                      font-weight:$fw-medium;
                      gap: 12px;
                     svg{
                        width: 30px;
                     }
                     a{
                        display: flex;
                        font-size: $fs-body;
                        text-decoration: none;
                        color: inherit;
                        align-items: center;
                        width: 100%;
                     }
                     &:hover {
                        margin-right: 32px;
                        background-color: white;
                     }
                  }
               }
         }
      }
      .order-info{
        padding-left: 40px;
     &-add{
        &-title{
            p{
               font-size: $fs-h3;
               font-weight: $fw-bold;
            }
         }
         &-modal{
             &-icon{
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 svg{
                     width: 130px;
                     color: $color-text-gray;
                 }
             }
             &-show{
                 text-align: center;
                 span{
                     font-size: $fs-h4;
                     font-weight: $fw-bold;
                 }
                 p{
                     padding-top: 6px;
                     color: $color-text-dark;
                 }
              a{
                 background-color: $color-text-dark;
                 padding: 12px;
                 color: $color-primary-light;
                 font-size: $fs-h4;
                 display: flex;
                 align-items: center;
                 text-align: center;
                 justify-content: center;
                 gap: 12px;
                 text-decoration: none;
                 svg{
                     width: 32px;
                 }
              }
            .width-form{
             min-width: 700px;
            }
            
        }
        }
        &-modal-2{
           &-icon{
               display: flex;
               align-items: center;
               justify-content: center;
               svg{
                   width: 130px;
                   color: $color-text-gray;
               }
           }
           &-show{
               text-align: center;
               span{
                   font-size: $fs-h4;
                   font-weight: $fw-bold;
               }
               p{
                   padding-top: 6px;
                   color: $color-text-dark;
               }
            a{
               background-color: $color-text-dark;
               padding: 12px;
               color: $color-primary-light;
               font-size: $fs-h4;
               display: flex;
               align-items: center;
               text-align: center;
               justify-content: center;
               gap: 12px;
               svg{
                   width: 32px;
               }
            }
          .width-form{
           min-width: 700px;
          }
          
      }
      }
      }
    }
       
      .order-info{
         padding-left: 40px;
       &-add{
           &-title{
               margin-left: 20px;
               p{
                  font-size: $fs-h3;
                  font-weight: $fw-bold;
               }
            }
            .tab-header{
               display: flex;
               align-items: center;
               font-size: 24px;
               font-weight: $fw-bold;
               .in-progess{
                   padding: 12px;
                   border-bottom: 4px solid black;
                   margin-right: 10px;
               }
               .complete{
                   padding: 12px;
                   border-bottom: 4px solid black;
               }
            }
       }
       .fs{
           font-size: 24px;
       }
       .order-info-add-click{
           svg{
               width: 30px;
           }
       }
       .address-info-add-modal-show{
          button{
           a{
               text-decoration: none;
           }
          }
       }
       .media-prod{
           img{
              width: 120px;
           }
       }
       .code-order-list{
        display: flex;
        align-items: center;
        a{
           text-decoration: none;
        }
        .status-order{
          text-align: right;
        }
       }
       .content-order{
        .items-prod-in-orders{
           display: flex;
           align-items: center;
           .vendor-prod{
              font-size: $fs-h5;
              font-weight: $fw-semibold;
           }
        }
       }
       .list-order-page{
        display:  block;
       }
       .tab-content{
        font-size: $fs-body;
        display: block;
       }
       .wrap-price-quantity{
        .price-prod{
           margin-top: 20px;
           font-size: $fs-h5;
           font-weight: $fw-medium;
        }
       }
      }
   }
}
@include down(1024px) {
  .order-info{
     padding-left: 0px !important;
  }
}



