$breakpoints: (
    xs: 480px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1024px,
    2xl: 1200px
);

@mixin down($value) {
    $breakpoint: map-get(
        $map: $breakpoints,
        $key: $value
    );

    @if $breakpoint {
        @media (max-width: #{$breakpoint - 0.2px}) {
            @content;
        }
    } @else {
        @media (max-width: #{$value - 0.2px}) {
            @content;
        }
    }
}

@mixin square($size) {
    width: $size;
    height: $size;
}

@mixin circle($size) {
    @include square($size);
    border-radius: $radius-full;
}

@mixin max-line($line: 1) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}